<!doctype html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>

<div class="container app mt-5">
    <h1 class="shadow rounded-pill text-center p-2  mb-2 bg-success text-white">MixStream</h1>
</div>
    <hr class="my-4">
    <div class="containerCenter rounded shadow">
        
        
    </div>
</div>

<% include footer.ejs %>
</body>
</html>