<!doctype html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>

<div class="container app mt-5">
    <h1 class="text-center mainLogoText">MixShare Live</h1>
</div>
    <hr class="my-4">
    <div class="slideLogin loginBoxes rounded shadow mx-auto">
        
        <form action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
                <label for="inputEmail" class="visually-hidden h5">Email address</label>
                <input type="email" name="email" class="form-signin" placeholder="Enter email" required >
                <% if (errors.email.length) { %>
                    <small class="form-text text-danger"><%= errors.email %></small>
                <% } %>
                <label for="inputPassword" class="visually-hidden h5 mt-1">Password</label>
                <input type="password" name="password" class="form-signin" placeholder="Password" required>
                <% if (errors.password.length) { %>
                    <small class="form-text text-danger"><%= errors.password %></small>
                <% } %>
           
            <div class="form-signin">
                <div class="leader h5">
                    Don't have an account? Register <a href="/register">here </a>for free.
                </div>
            </div>
            <button type="submit" class="shadow rounded-start w-100 btn btn-lg btn-primary">Sign in</button>
        </form>
       
    </div>
    <div class="textContain mt-3 text-center">
        <h1 class="text-center">BETA TESTING</h1>
        <p>We are just getting a few things ready but you can test the site out in the meantime.</p><p>Until we launch all users will need to Register a free account to view the site.</p>
        <a href="mailto:info@mixshare.co.uk?subject=MixShare Live Support" target="_blank" rel="noopener noreferrer">Email Us</a>
    </div>
    
</div>

<% include footer.ejs %>
</body>
</html>