<!doctype html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>

<div class="container app mt-5">
    <h1 class="shadow rounded-pill text-center p-2  mb-2 bg-success text-white">MixShare Live</h1>

    <hr class="my-4">
    <div class="slideRegister containerCenter rounded shadow">
        
        <form action="/register" method="post">
            
            <h1 class="h3 mb-3 fw-normal text-center">Register</h1>
                <label class="h5">Username</label>
                <input type="text" name="username" class="form-signin" placeholder="Enter username" required>
                <% if (errors.username.length) { %>
                    <small class="form-text text-danger"><%= errors.username %></small>
                <% } %>
                <label for="inputEmail" class="visually-hidden h5 mt-1">Email address</label>
                <input type="email" name="email" class="form-signin" placeholder="Enter email" required>
                <% if (errors.email.length) { %>
                    <small class="form-text text-danger"><%= errors.email %></small>
                <% } %>
                <label class="visually-hidden h5 mt-1">Password</label>
                <input type="password" name="password" class="form-signin" placeholder="Password" required>
           
            <div class="form-signin">
                <div class="leader h5">
                    Have an account? Login <a href="/login">here</a>.
                </div>
            </div>

            <button type="submit" class="shadow rounded-start w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

<% include footer.ejs %>
</body>
</html>