.headTitle {
color: rgb(0, 0, 0);
font-size: 24px;
}

.streams {

  .stream {

    .live-label {
      position: absolute;
      top: 10px;
      left: 20px;
      background-color: red;
      color: white;
      padding: 1px 5px;
      -webkit-animation: flash linear 1s infinite;
	animation: flash linear 2s infinite;
    }
    @-webkit-keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
    }
    @keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
    }
    .stream-thumbnail {
      img {
        width: 100%;
      }
    }

    .username {

      position: absolute;
      bottom: 10px;
      left: 20px;
      background-color: black;

      a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 2px 8px;
      }
    }

  }

}
